```javascript

const {RoutesRegistry} = require('@pigalle/registries.routes')
const {HttpRouteEntity} = require('@pigalle/entities.route.http')

const products = ['gold coin', 'apple', 'orange', 'strawberry']

const routesRegistry = RoutesRegistry.factory()

const getProducts = HttpRouteEntity.factory('/products', 'GET', () => { return products });
const getFirstProducts = HttpRouteEntity.factory('/product/1', 'GET', () => { return products[0] });

routesRegistry.add('getProducts', getProducts)
  .add('getFirstProducts', getFirstProducts)

```
